.donorsSection {
  background-color: #F7F8FA;
}
.donorsBgWrapper {
  position: relative;
  top: 60px;
}

.donors {
  background: url("/images/Bgd-Donors-Mobile.svg") no-repeat;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 30px;
}

.donorsContent {
  margin-left: 6px;
  margin-right: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donorsTitleWrapper,
.donorsDescriptionWrapper {
  width: 288px;
}

.donorsTitleWrapper > h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}

.donorsDescriptionWrapper > p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #e6eded;
  text-align: center;
}

.createAnAccountWrapper {
  margin-top: 32px;
  margin-bottom: 40px;
}

.createAnAccountLink {
  border-radius: 24px;
  text-decoration: none;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.2);
}

.donorsLogos {
  height: 320px;
  width: 298px;
  margin-top: 24px;
  margin-bottom: 32px;
  background: url("/images/donors-logo-xs.png") no-repeat;
  background-size: contain;
}

@media screen and (min-width: 640px) {
  .donors {
    background: url("/images/Bgd-Donors-Tablet.png") no-repeat;
    background-size: cover;
    box-shadow: none;
  }
  .donorsBgWrapper {
    display: flex;
    justify-content: center;
  }
  .donorsTitleWrapper {
    width: 100%;
  }
  .donorsDescriptionWrapper {
    width: 600px;
  }
  .donorsLogos {
    width: 90%;
    height: 118px;
    background: url("/images/donors-logo-lg.png") no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 42px;
  }
}

@media screen and (min-width: 768px) {
  .donorsDescriptionWrapper {
    width: 688px;
  }
}

@media screen and (min-width: 1440px) {
  .donorsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #F7F8FA 60%, #f0f1f2 40%);
  }
  .donors {
    background: url("/images/Bgd-Donors-Desktop.png") no-repeat;
    background-size: cover;
    width: 992px;
  }
  .donorsLogos {
    width: 60%;
  }
}


