.generalInformation {
  background-color: #f0f1f2;
  padding-top: 56px;
  padding-bottom: 56px;
}

.generalInformationContent {
  margin-right: 16px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generalInformationTitleWrapper {
  width: 288px;
}

.generalInformationTitleWrapper h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: #05464a;
}

.faqWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.faq {
  width: 288px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.questionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #f7f8fa;
}

.question {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #4e5052;
}

.plusIcon {
  color: #699092;
}

.plusIcon svg {
  font-weight: bold;
}

.doYouStillHaveQuestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 288px;
}

.doYouStillHaveQuestionTextWrapper {
  margin-top: 24px;
}

.doYouStillHaveQuestion > .actionWrapper {
  align-self: center;
  justify-content: center;
}

.doYouStillHaveQuestion h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: #05464a;
  margin-bottom: 8px;
}

.doYouStillHaveQuestion p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #141414;
  margin-bottom: 42px;
}

.contactUsBtn {
  margin-left: 8px;
}

@media screen and (min-width: 640px) {
  .generalInformationTitleWrapper {
    width: 600px;
  }
  .faq {
    width: 600px;
  }
  .questionWrapper {
    padding: 21px 16px;
  }
  .doYouStillHaveQuestion {
    width: 600px;
  }
  .doYouStillHaveQuestion > .actionWrapper {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .faq {
    width: 624px;
  }
  .generalInformationTitleWrapper {
    width: 688px;
  }
}

@media screen and (min-width: 1024px) {
  .generalInformationTitleWrapper {
    width: 820px;
  }
  .readDocs {
    margin-right: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .generalInformationTitleWrapper {
    width: 920px;
  }
  .faq {
    width: 992px;
  }
  .questionWrapper {
    padding: 24px 48px;
  }
  .doYouStillHaveQuestion {
    width: 688px;
  }
}
