* {
		margin: 0;
		padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
}

a {
	text-decoration: none;
	color: #4e908d;
}

button {
	outline: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

@keyframes topBackgroundFadeIn {
	0% {
		opacity: 0;
		/* width: 70%; */
	}
	50% {
		opacity: 0.7;
		/* width: 90%; */
	}
	100% {
		opacity: 1;
		/* width: 100%; */
	}
}


.headerAndSponsorshipWrapper {
	min-height: 579px;
	background-image: url("/images/Top-Bgd.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
}

.tablet {
	display: none;
}

.desktop {
	display: none;
}

@media screen and (min-width: 640px) { 
	.headerAndSponsorshipWrapper {
		position: relative;
	}
	.mobile {
		display: none;
	}
	.tablet {
		display: block;
	}
	.desktop {
		display: none;
	}
}

@media screen and (min-width: 768px) { 
	.headerAndSponsorshipWrapper {
		position: relative;
	}
	.mobile {
		display: none;
	}
	.tablet {
		display: block;
	}
	.desktop {
		display: none;
	}
}

@media screen and (min-width: 1024px) { 
	.mobile {
		display: none;
	}
	.tablet {
		display: none;
	}
	.desktop {
		display: block;
	}
}

@media screen and (min-width: 1440px) { 
	.headerAndSponsorshipWrapper {
		background-position: right;
		height: 61px;
		padding-top: 76px;
	}
}

@media screen and (min-width: 2560px) { 
	.headerAndSponsorshipWrapper {
		background-position: initial;
		background-size: auto;
		height: 611px;
	}
}

