.ourFeesSection {
  background-color: #f7f8fa;
}
.ourFees {
  padding-top: 70px;
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ourFees > .titleWrapper {
  width: 288px;
}

.ourFees > .titleWrapper > h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
  color: #376b6e;
}

.ourFees > .titleWrapper > h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #313233;
  margin-top: 8px;
}

.ourFees > .fiscalSponsorshipWrapper {
  width: 288px;
}

.ourFees > .fiscalSponsorshipWrapper h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: #05464a;
  margin-top: 36px;
  text-transform: uppercase;
}

.ourFees > .fiscalSponsorshipWrapper p {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #1e595c;
  margin-top: 16px;
  margin-bottom: 16px;
}

.amountRaisedWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.amountRaisedCard {
  width: 288px;
  height: 160px;
  padding: 32px 24px 16px;
  display: flex;
  justify-content: flex-end;
  margin-left: 16px;
  margin-right: 16px;
  box-sizing: border-box;
}

.fivePercent {
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  background: url("/images/opencollective-icon.svg") no-repeat 20px center,
    linear-gradient(to top, #045257 5%, #045257 5%, #4e908d 86%),
    linear-gradient(to bottom, #4e908d, #4e908d);
  background-color: #4e908d;
}

.fourPercent {
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  background: url("/images/leaves.svg") no-repeat 20px bottom,
    linear-gradient(to top, #045257 6%, #045257 6%, #4e908d 86%),
    linear-gradient(to bottom, #045257, #045257);
  background-color: #045257;
}

.figureRaisedWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}

.figure {
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  text-align: right;
  color: #ffffff;
}

.figure > .percentage {
  font-size: 32px;
}

.methodWrapper {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.method {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: right;
  color: #ffffff;
}

.methodDescription {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-align: right;
  color: #cddadb;
}

.methodDescription > span {
  color: #fff;
}

.crowdFundingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.crowdFundingWrapper h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #1e595c;
  margin-bottom: 16px;
}

.crowdFundingWrapper > .note {
  width: 288px;
  margin-bottom: 8px;
}

.crowdFundingWrapper > .note > p {
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #313233;
  margin-bottom: 16px;
}

.crowdFundingWrapper > .note > p:last-of-type {
  margin-bottom: 0;
}

.crowdFundingWrapper > .note > p > a {
  font-weight: bold;
  color: #4e908d;
  text-decoration: underline;
}

@media screen and (min-width: 640px) {
  .ourFees > .titleWrapper {
    width: 600px;
  }
  .ourFees > .fiscalSponsorshipWrapper {
    width: 429px;
    margin-top: 48px;
  }
  .amountRaisedWrapper {
    flex-direction: row;
    justify-content: center;
  }

  .amountRaisedCard {
    margin-left: 0;
    margin-right: 0;
    width: 200px;
  }
  .fivePercent,
  .fourPercent {
    border-radius: 0;
  }
  .fivePercent {
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    background: url("/images/opencollective-icon.svg") no-repeat 20px 20px,
      linear-gradient(
        0deg,
        rgba(4, 82, 87, 0.5) 0%,
        rgba(78, 144, 141, 0.5) 100%
      );
    background-color: #4e908d;
  }
  .fourPercent {
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    background: url("/images/leaves.svg") no-repeat 20px bottom,
      linear-gradient(
        0deg,
        rgba(4, 82, 87, 0.5) 0%,
        rgba(78, 144, 141, 0.5) 100%
      );
    background-color: #045257;
  }
  .crowdFundingWrapper > .note {
    width: 448px;
  }
  .figure {
    display: flex;
    align-items: baseline;
  }
  .fivePercent > .figureRaisedWrapper > .figureInWords {
    margin-right: 4px;
  }
}

@media screen and (min-width: 768px) {
  .ourFees > .titleWrapper {
    width: 688px;
  }
  .amountRaisedCard {
    width: 352px;
    height: 144px;
    padding: 16px 32px 24px 16px;
  }
  .crowdFundingWrapper > .note {
    width: 624px;
  }
}

@media screen and (min-width: 1024px) {
  .amountRaisedWrapperWithTitle p {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .amountRaisedAndCrowdFundWrapper {
    align-items: center;
    margin-top: 17px;
  }
  .ourFees > .titleWrapper {
    width: 928px;
  }
  .ourFees > .titleWrapper > h1 {
    font-size: 56px;
    line-height: 1.146;
  }
  .fiscalSponsorshipWrapper p {
    display: none;
  }
  .amountRaisedWrapperWithTitle p {
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #1e595c;
    align-self: center;
    margin-bottom: 17px;
  }
  .amountRaisedAndCrowdFundWrapper {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 50px;
    padding-bottom: 10px;
    background-image: linear-gradient(
      to top,
      rgba(130, 163, 165, 0),
      #82a3a5 43%,
      rgba(130, 163, 165, 0)
    );
    background: linear-gradient(
      0deg,
      rgba(130, 163, 165, 0) 0%,
      #82a3a5 56%,
      rgba(130, 163, 165, 0) 100%
    );
  }
  .amountRaisedCard {
    width: 521px;
    height: 115px;
    padding: 24px 24px;
  }
  .fivePercent {
    background: url("/images/opencollective-icon.svg") no-repeat 20px center,
      linear-gradient(
        0deg,
        rgba(4, 82, 87, 0.5) 0%,
        rgba(78, 144, 141, 0.5) 100%
      );
    background-color: #4e908d;
  }
  .figureRaisedWrapper {
    display: flex;
    flex-direction: row-reverse;
  }
  .fivePercent > .figureRaisedWrapper > .methodWrapper {
    width: 301px;
    display: flex;
    flex-direction: column;
    margin-right: 16px;
  }
  .fourPercent > .figureRaisedWrapper > .methodWrapper {
    width: 240px;
    display: flex;
    flex-direction: column;
    margin-right: 16px;
  }
  .crowdFundingWrapper > .note {
    width: 828px;
  }
}
