.readyToGetStartedSection {
  position: relative;
  padding-bottom: 130px;
  background: linear-gradient(180deg, #ffffff 70%, #f7f8fa 30%);
}

.getStartedBackground {
  background-image: url("/images/Bgd-White-Tablet.svg.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  height: 702px;
  position: absolute;
  top: 20%;
  z-index: 0;
}

.readyToGetStarted {
  margin-top: 41px;
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
}

.readyToGetStartedIllustration {
  width: 288px;
  height: 240px;
  margin-bottom: 40px;
}

.readyToGetStartedIllustration img {
  width: 100%;
  height: 100%;
}

.getStartedTextWrapper > .titleWrapper,
.getStartedTextWrapper > .descriptionWrapper {
  width: 288px;
}
.getStartedTextWrapper h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.25;
  color: #313233;
  margin-bottom: 16px;
}

.getStartedTextWrapper div > p {
  font-size: 16px;
  line-height: 1.5;
  color: #313233;
}

.getStartedTextWrapper .boldParagrah {
  font-weight: bold;
  margin-top: 25px;
}

.getStartedTextWrapper .actionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actionWrapper a {
  text-decoration: none;
}

.buttonStyleLink {
  border-radius: 24px;
  padding: 16px 24px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  background-image: linear-gradient(to bottom, #507e80, #376b6e);
}

.readDocs {
  background-image: linear-gradient(to bottom, #313233, #141414);
  margin-left: 8px;
}

.readDocs:hover {
  color: rgb(255, 255, 255);
  background: linear-gradient(rgb(78, 80, 82) 0%, rgb(49, 50, 51) 100%)
    rgb(78, 80, 82);
  border-color: rgb(78, 80, 82);
}

.readDocs:focus {
  box-shadow: rgb(144, 240, 189) 0px 0px 0px 2px;
}

.readDocs:active {
  background: rgb(20, 20, 20);
  border-color: rgb(20, 20, 20);
}

.longerTextLink {
  display: none;
}

a.longerTextLink {
  display: none;
}

@media screen and (min-width: 640px) {
  .readyToGetStartedIllustration {
    width: 422px;
    height: 345px;
    align-self: flex-start;
    margin-left: 72px;
  }
  .getStartedTextWrapper {
    align-self: flex-end;
    text-align: right;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .getStartedTextWrapper > .titleWrapper,
  .getStartedTextWrapper > .descriptionWrapper {
    width: 476px;
  }
  .actionWrapper {
    justify-content: flex-end;
    display: flex;
  }
  .longerTextLink {
    display: block;
  }
  a.longerTextLink {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .getStartedBackground {
    background-image: url("/images/Bgd-White-Desktop.svg");
    height: 830px;
  }
  .getStartedTextAndActionWrapper {
    align-self: flex-end;
    margin: 0 5%;
  }
  .getStartedTextWrapper > .titleWrapper {
    width: 589px;
  }
  .getStartedTextWrapper h2 {
    font-size: 56px;
    font-weight: bold;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1024px) {
  .readyToGetStartedSection {
    background: linear-gradient(180deg, #ffffff 10%, #f7f8fa 90%);
  }
  .readyToGetStarted {
    flex-direction: row;
    justify-content: center;
    align-self: baseline;
    margin-right: 0;
  }
  .readyToGetStartedIllustration {
    margin-left: 0;
  }
  .getStartedTextAndActionWrapper {
    margin: 0 2%;
  }
  .getStartedBackground {
    height: 602px;
    top: 3%;
  }
}

@media screen and (min-width: 1440px) {
  .readyToGetStarted {
    margin-top: 0;
  }
  .readyToGetStartedIllustration {
    width: 534px;
    height: 455px;
    margin-right: 57px;
  }
  .readyToGetStartedSection {
    background: #f7f8fa;
    z-index: 0;
  }
  .getStartedTextAndActionWrapper {
    align-self: auto;
  }
  .getStartedBackground {
    height: 702px;
    top: 0;
  }
}
