<form
  method="POST"
  data-netlify="true"
  name="email-signup"
  enctype="application/x-www-form-urlencoded"
  action="/"
>
  <fieldset class="inline-field-group">
    <p>
      <label for="input-first">First name</label>
      <input id="input-first" type="text" name="first-name" required />
    </p>
    <p>
      <label for="input-last">Last name</label>
      <input id="input-last" type="text" name="last-name" required />
    </p>
  </fieldset>
  <p>
    <label for="input-email">Email address</label>
    <input id="input-email" type="email" name="email" required />
  </p>
  <p>
    <label for="input-organization">Organization </label>
    <input id="input-organization" type="text" name="organization" />
  </p>
  <p>
    <label for="input-url">Website</label>
    <input id="input-url" type="url" name="url" />
  </p>

  <p>
    <button type="submit">Submit</button>
  </p>
</form>
