<footer id="footer">
  <div class="content-container">
    <img class="logo" src="/assets/images/OCF-Logo.svg" alt="OCF Logo" />
    <div class="name-of-project">OC Foundation</div>
    <p>We offer <strong>nonprofit status + fundraising + accounting software to aligned groups.</strong></p>
    <address class="address">
      Open Collective Foundation 501(c)(3)
      340 S. Lemon Avenue, #3717
      Walnut, CA 91789
      EIN 81-4004928
      DLN 17053184327027
    </address>
    <%- await include('/social-links.ejs') %>

    <div class="powered-by">
      <span>Powered by:</span>
      <img class="oc-logo" src="/assets/images/oc-logo.svg" alt="Open Collective"/>
      <div class="cc">
      <img class="cc-logo" src="/assets/images/cc-logo.svg" alt="CC" />
      Design available
      </div>
    </div>

  </div>
</footer>