<nav class="main-nav">
  <div class="nav-container content-container">
    <img class="logo" src="/assets/images/OCF-Logo.svg" alt="OCF Logo" />
    <div class="links-container">
      <ul class="links-list">
        <% collections[collectionName].filter(section=>
        !section.data.hideInNavigation).forEach((section)=> { %>
        <li>
          <a href="#<%= section.fileSlug %>"> <%= section.data.title %> </a>
        </li>
        <% }) %> <% (extraNavLinks || []).forEach(({href, isExternal, text, isCta}) => { %>
        <li
          class="<% if (isCta) {%>cta <%}%>">
          <a href="<%= href %>" 
            <% if (isExternal) { %>
              target="_blank" rel="noopener noreferrer" 
            <% } %>>
            <%= text %>
          </a>
        </li>
        <% }) %>
      </ul>
      <a class="cta hidden show-tablet-landscape" href="https://opencollective.com/foundation/apply" target="_blank">Apply</a>
    </div>
    <a class="cta hide-tablet-landscape" href="https://opencollective.com/foundation/apply" target="_blank">Apply</a>
    <button 
      class="menu-button hidden show-tablet-landscape" 
      onclick="this.focus()">
      Menu
    </button>
  </div>
</nav>
