<nav class="main-nav">
  <ul>
    <% collections[collectionName].filter(section=>
    !section.data.hideInNavigation).forEach((section)=> { %>
    <li>
      <a href="#<%= section.fileSlug %>"> <%= section.data.title %> </a>
    </li>
    <% }) %> <% (extraNavLinks || []).forEach(({href, isExternal, text}) => { %>
    <li>
      <a href="<%= href %>" <% if (isExternal) { %>
        target="_blank" rel="noopener noreferrer" <% } %> > <%= text %>
      </a>
    </li>
    <% }) %>
  </ul>
</nav>
