<nav class="main-nav">
  <ul>
    <% collections[collectionName].filter(section=>
    !section.data.hideInNavigation).forEach((section)=> { %>
    <li>
      <a href="#<%= section.fileSlug %>"> <%= section.data.title %> </a>
    </li>
    <% }) %>
    <li>
      <a
        href="https://www.giarts.org/"
        rel="noopener noreferrer"
        target="_blank"
      >
        GIA
      </a>
    </li>
  </ul>
</nav>
