<div class="platform-features-carousel-row">
  <div class="content-container platform-features-container">
    <div class="platform-features carousel" data-flickity="<%= JSON.stringify({ 
      }) %>">

      <% for (let feature of platformFeatures.features) { %>
        <div class="platform-feature slide">
          <%- await image({
            class: 'product-shot',
            src: feature.productShot,
            sizes: `
            (max-width: 428px) 100vw,
            630px
            `,
            alt: 'Screenshot'
          }, [630, 428]) %>
          <div class="feature-copy">
            <div class="feature-title">
              <%= feature.title %>
            </div>
            <div class="feature-body">
              <%- markdown(feature.body) %>
            </div>
          </div>
        </div>
        <% } %>
    </div>
  </div>
</div>