<div class="section-report">
  <div class="links">
    <a href="#" download data-use-interstitial>Download the Full Report</a>
    <a href="#" download data-use-interstitial>Download the Action Checklist</a>
    <a href="#" download data-use-interstitial
      >Download the Executive Summary</a
    >
  </div>
  <p>
    This report, commissioned by Grantmakers in the Arts, is about the ways that
    <strong
      >arts and culture grantmakers can engage in systems-change work</strong
    >. The cultural sector is actively seeking alternatives to business-as-usual
    to create economic and racial justice in the sector and beyond. Grantmakers
    can play a role in the transformation of the sector by following the lead of
    Black, Indigenous, People of Color, disabled, queer, trans, and working
    class creatives who are innovating models for self-determination and
    community wealth. For specific suggestions, see the full report and the
    <a href="/#action">Action Checklist</a>.
  </p>
</div>
