<%- await include('/nav', { collectionName, extraNavLinks, prefix: '' }) %>

<main>
  <% collections[collectionName].forEach((section)=> { %>
  <section id="<%- section.fileSlug %>"><%- section.templateContent %></section>
  <% }) %>
</main>
