<ul class="social-links">
  <li class="email"><a href="mailto:contact@opencollective.foundation" target="_blank">Email</a></li>
  <li class="slack"><a href="https://join.slack.com/t/opencollective/shared_invite/zt-f43qko76-sD8G~e_vQCm4TtpIsM4i~A"
      target="_blank">Slack</a></li>
  <li class="instagram"><a href="https://www.instagram.com/opencollectivefoundation/" target="_blank">Instagram</a></li>
  <li class="facebook"><a href="https://www.facebook.com/ocfshares/" target="_blank">Facebook</a></li>
  <li class="tiktok"><a href="https://www.tiktok.com/@opencollectivefoundation" target="_blank">TikTok</a></li>
  <li class="twitter"><a href="https://twitter.com/o_c_foundation" target="_blank">Twitter</a></li>
</ul>