.flickity-prev-next-button {
  opacity: 1;
  width: 48px;
  height: 48px;
  border: 1px solid @color-dark-green;
  color: @color-dark-green;

  background: @background-color-lighter url('/assets/images/arrow.svg') center
    center no-repeat;

  // For some reason just the presence of the transform property moves the element
  // So this way both arrows are aligned
  transform: scale(1);

  &.previous {
    transform: scaleX(-1);
  }

  &:hover {
    background: @background-color-lighter url('/assets/images/arrow.svg') center
      center no-repeat;
  }
}

.flickity-button-icon {
  // We'll use our own
  display: none;
}

.flickety-page-dots .dot {
  background-color: @color-dark-green;
  width: 12px;
  height: 12px;
}

// On tablet, change layout to move arrows to bottom center
@media screen and (max-width: @viewport-width-tablet-landscape) {
  .flickity-enabled {
    display: grid;
    grid-template:
      'viewport viewport viewport' auto
      'prev dots next' auto /
      minmax(auto, 1fr) auto minmax(auto, 1fr);
    align-items: center;
    column-gap: @layout-grid-gutter-tablet;
    row-gap: @layout-grid-margin;

    .flickity-viewport {
      grid-area: viewport;
    }

    .flickity-button {
      position: static;
    }

    .flickity-button.previous {
      grid-area: prev;
      justify-self: end;
    }

    .flickity-button.next {
      grid-area: next;
      justify-self: 'start';
    }

    .flickity-page-dots {
      grid-area: dots;
      justify-self: center;
      position: static;
    }
  }
}

@media screen and (max-width: @viewport-width-mobile) {
  .flickity-enabled {
    column-gap: @layout-grid-gutter-mobile;
    row-gap: @layout-grid-gutter-mobile;
  }
}
