.layout-grid() {
  display: grid;
  column-gap: @layout-grid-gutter;
  row-gap: @layout-grid-margin;

  // 12 column grid on desktop
  grid-template-columns: repeat(12, 1fr);

  // 8 column grid on tablet
  @media screen and (max-width: @viewport-width-tablet-landscape) {
    grid-template-columns: repeat(8, 1fr);
    column-gap: @layout-grid-gutter-tablet;
  }
  @media screen and (max-width: @viewport-width-mobile) {
    // the design shows 4 columns but only ever uses 1, so lets say 1
    grid-template-columns: 1fr;
    column-gap: @layout-grid-gutter-mobile;
    row-gap: @layout-grid-margin-mobile;
  }
}

.content-container {
  max-width: @content-width;
  margin: auto;
  padding: @layout-grid-margin @layout-grid-gutter;
  box-sizing: border-box;

  img {
    max-width: 100%;
  }

  @media screen and (max-width: @viewport-width-tablet-landscape) {
    padding: @layout-grid-margin @layout-grid-gutter-tablet;
  }
  @media screen and (max-width: @viewport-width-mobile) {
    padding: @layout-grid-margin-mobile @layout-grid-gutter-mobile;
  }
}
