.platform-features-container {
  .platform-feature {
    box-sizing: border-box;
    height: 631px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: @layout-grid-gutter;
    align-items: center;
    padding: 0 (@layout-grid-gutter * 2);
    padding-bottom: 0;

    @media screen and (max-width: @viewport-width-tablet-landscape) {
      column-gap: @layout-grid-gutter-tablet;
      padding: 0;
    }

    @media screen and (max-width: @viewport-width-tablet-portrait) {
      grid-template-columns: auto;

      .feature-copy {
        grid-row: 1;
      }
    }
  }

  .feature-title {
    .subheading();
  }

  .feature-body {
    .paragraph-large();
  }

  .slide {
    width: 100%;
  }
}
