.platform-features-container {
  .platform-feature {
    box-sizing: border-box;
    height: 631px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: @layout-grid-gutter;
    align-items: center;
    padding: @layout-grid-margin (@layout-grid-gutter * 2);
    padding-bottom: 0;

    @media screen and (max-width: @viewport-width-tablet-landscape) {
      column-gap: @layout-grid-gutter-tablet;
      padding: @layout-grid-margin @layout-grid-gutter-tablet;
    }
  }

  .feature-title {
    .subheading();
  }

  .feature-body {
    .paragraph-large();
  }

  .slide {
    width: 100%;
  }
}
