@import './table-symbols.less';

.services-table-mobile {
  .paragraph-mid();

  .table-heading-row,
  .table-data,
  .row-heading {
    padding: @layout-grid-gutter-mobile;
  }

  .table-column {
    width: 100%;
  }

  // "Compared to" on all but first column
  .table-column:not(:first-child) .table-heading-row::before {
    content: 'Compared to: ';
  }

  // ensure room for prev/next buttons
  .table-heading-row {
    padding-left: 80px;
    padding-right: 80px;
    min-height: 4em;
  }

  .table-row,
  .table-heading-row {
    border-bottom: @default-rule;
  }

  .table-row {
    display: flex;
    flex-direction: row;

    .table-data {
      flex-basis: 72px;
      flex-shrink: 0;
      min-height: 72px;
      box-sizing: border-box;

      .applySymbols();
    }

    .row-heading {
      flex-grow: 1;
      border-left: @default-rule;
    }

    // Footer
    &.row-footer {
      display: grid;
      row-gap: 8px;
      border-bottom: none;

      .row-heading {
        grid-row: 1;
        border: none;
        color: @color-dark-green;
        font-weight: @font-weight-bold;
        padding-bottom: 0;
      }

      .table-data {
        grid-row: 2;
        padding-top: 0;
        background-color: inherit !important;
        padding-bottom: 0;
      }
    }
  }

  // Hide after first 3
  &:not(.show-all)
    .table-column
    .table-row:nth-child(4)
    ~ .table-row:not(.row-footer) {
    display: none;
  }

  .show-more-button {
    .textButton();
    padding: @layout-grid-gutter-mobile;
    border-bottom: @default-rule;
    width: 100%;
    text-align: inherit;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      right: @layout-grid-gutter-mobile;
      top: calc(50% - (16px / 2));
      background: url('/assets/images/chevron.svg') no-repeat center center;
    }
  }

  &.show-all .show-more-button::after {
    transform: rotate(180deg);
  }

  // First column has green background for data and heading
  .table-column:first-child {
    .table-data,
    .table-heading-row {
      background-color: @background-color-base;
    }
  }

  .flickity-enabled {
    // disable grid
    display: block;
  }

  // Flickity controls
  .flickity-prev-next-button {
    position: absolute !important;
    top: @layout-grid-gutter-mobile;
  }
}
