section#events {
  .outer-events-wrapper {
    border-bottom: @default-rule;
  }

  .content {
    padding-top: 0;
    padding-bottom: 0;

    .layout-grid();

    > * {
      padding: @layout-grid-margin 0;
    }

    // left side
    > :first-child {
      grid-column: span 4;
      align-self: center;

      @media screen and (max-width: @viewport-width-tablet-landscape) {
        grid-column: span 3;
      }
    }

    // right side
    > :nth-child(2) {
      grid-column: span 8;
      border-left: 1px solid @color-dark-green;

      @media screen and (max-width: @viewport-width-tablet-landscape) {
        grid-column: span 5;
      }
    }

    @media screen and (max-width: @viewport-width-tablet-portrait) {
      // no longer a grid at this size
      display: block;

      // make inner elements the content containers (have padding)
      padding: 0;

      > * {
        padding: @layout-grid-margin @layout-grid-gutter-tablet;
      }

      > :first-child {
        border-bottom: @default-rule;
      }

      > :nth-child(2) {
        border-left: none;
      }
    }

    @media screen and (max-width: @viewport-width-mobile) {
      > * {
        padding: @layout-grid-margin-mobile @layout-grid-gutter-mobile;
      }
    }
  }

  .events-column {
    margin: 0;
    padding: 34px;
  }

  .event-section-heading {
    .subheading();
    font-weight: @font-weight-regular;
    margin: 50px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .event-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 34px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: @layout-grid-gutter;
    row-gap: @layout-grid-margin;

    @media screen and (max-width: @viewport-width-tablet-landscape) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: @viewport-width-tablet-portrait) {
      padding: 0;
      margin-bottom: @layout-grid-margin;
      // back to 3 columns!
      grid-template-columns: repeat(3, 1fr);
    }

    // 1 column
    @media screen and (max-width: @viewport-width-mobile) {
      grid-template-columns: 1fr;
      row-gap: 35px; // custom margin
    }
  }

  .event.past {
    opacity: 0.5;
  }

  .event-name {
    .paragraph-mid();
    font-weight: @font-weight-bold;
  }

  .event-name::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    background: url('/assets/images/calendar.svg') no-repeat;
  }

  .event-datetime {
    .paragraph-small();
    font-weight: @font-weight-regular;
  }

  .hide-after(@n) {
    .event-list > li:nth-child(@{n}) ~ li {
      display: none;
    }
  }

  .hide-after(9);

  @media screen and (max-width: @viewport-width-tablet-landscape) {
    // Hide events after first 6
    .hide-after(6);
  }

  @media screen and (max-width: @viewport-width-tablet-portrait) {
    // Back to 9
    .hide-after(9);
  }

  @media screen and (max-width: @viewport-width-mobile) {
    // Back to 6!
    .hide-after(6);
  }

  .show-all .event-list li {
    display: inherit !important;
  }

  .show-all-button {
    .textButton();
    width: 100%;
  }

  .resources-for-events a {
    color: @color-dark-green;
    text-decoration: underline;
  }
}
