section#hero {
  // Move the border to a wrapper to account for mobile styles
  .hero-wrapper {
    border-bottom: @default-rule;
  }

  .hero-row {
    border-bottom: none;
    .left,
    .right {
      grid-column: span 6;

      @media screen and (max-width: @viewport-width-tablet-landscape) {
        grid-column: span 4;
      }
      @media screen and (max-width: @viewport-width-mobile) {
        grid-column: span 1;
      }
    }

    .right {
      justify-self: end;
    }
  }

  .collective-hero-image {
    border-radius: @border-radius;
    object-fit: cover;
    height: 496px;
    aspect-ratio: 520 / 496;
    width: auto; // overrides html width, which is used for loading right source only

    @supports not (aspect-ratio: 520 / 496) {
      width: 520px;
    }

    &.mobile-image {
      height: auto;
      aspect-ratio: 1 / 1;
      margin: 18px 0;

      // Aspect ration doesn't seem to work on Safari :-(
      @supports not(aspect-ratio: 1 / 1;
      ) {
        height: calc(100vw - @layout-grid-gutter-mobile * 2);
      }
    }
  }

  .heading {
    color: @color-dark-green;
    margin: 0;

    // prevent jumping when there's longer text
    min-height: 9em;

    @media screen and (max-width: @viewport-width-tablet-landscape) {
      grid-column: span 4;
      min-height: 15em;
    }

    .collective-name {
      color: @font-color-base;
    }
  }

  .subhead {
    .paragraph-large;
    font-weight: @font-weight-light;
  }

  .cta {
    .buttonStyledLink(@color-dark-green);
  }

  .tablet-portrait-subhead-row {
    text-align: center;
    padding-bottom: @layout-grid-margin;

    .cta {
      min-width: 332px;
    }
  }

  .discover-row {
    border-bottom: @default-rule;

    text-align: center;

    background-color: @color-sand-light;

    font-weight: @font-weight-light;

    p {
      margin: 0;
      margin-bottom: 6px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .content-container {
      // reduced padding
      padding-top: (@layout-grid-margin / 2);
      padding-bottom: (@layout-grid-margin / 2);

      @media screen and (max-width: @viewport-width-mobile) {
        padding-top: @layout-grid-margin-mobile;
        padding-bottom: @layout-grid-margin-mobile;
      }
    }

    .discover-heading {
      .paragraph-large();
      font-weight: @font-weight-bold;
    }

    a {
      color: @color-dark-green;
      text-decoration: underline;
    }
  }

  .the-process-row {
    background-color: @background-color-lighter;

    .the-process-link {
      &:hover {
        background-color: @color-sand-light;
      }
    }

    .the-process-heading {
      grid-column: span 4;

      @media screen and (max-width: @viewport-width-tablet-landscape) {
        grid-column: span 3;
      }
      @media screen and (max-width: @viewport-width-mobile) {
        grid-column: span 1;
      }
    }

    .the-process-graphic {
      display: block;
      grid-column-end: span 8;

      @media screen and (max-width: @viewport-width-tablet-landscape) {
        grid-column: span 5;
      }
      @media screen and (max-width: @viewport-width-mobile) {
        grid-column: span 1;
      }
    }
  }

  .network-row {
    .network-copy {
      grid-column: span 3;
      .paragraph-large();

      @media screen and (max-width: @viewport-width-tablet-landscape) {
        grid-column: span 4;
        // for some reasaon this content is designed to start in the gutter?
        margin-left: -@layout-grid-gutter-tablet;
      }
      @media screen and (max-width: @viewport-width-mobile) {
        grid-column: span 1;
        margin-left: -@layout-grid-gutter-mobile;
      }
    }

    .network-graphic {
      grid-column-end: span (12 - 3);

      @media screen and (max-width: @viewport-width-tablet-landscape) {
        grid-column: span 4;
      }
      @media screen and (max-width: @viewport-width-mobile) {
        grid-column: span 1;
      }
    }
  }

  .video-row {
    .video-copy-container {
      .subheading();
      grid-column: span 4;

      @media screen and (max-width: @viewport-width-tablet-landscape) {
        grid-column: span 3;
      }
    }

    .video-wrapper {
      grid-column-end: span 8;

      @media screen and (max-width: @viewport-width-tablet-landscape) {
        grid-column: span 5;
      }
    }

    .video {
      // height: 426px;
      width: 100%;
      aspect-ratio: 560 / 315;

      border-radius: @border-radius;
    }

    // Not a grid at tablet-portrait
    @media screen and (max-width: @viewport-width-tablet-portrait) {
      .content-container {
        display: block;
      }

      .column.with-borders {
        border-right: none;
        border-bottom: none;
      }

      .column.video-copy-container {
        padding-bottom: 0;
        .video-copy {
          margin: 0;
        }
      }
    }
  }
}
