section#hosted-collectives {
  border-bottom: @default-rule;

  .content {
    .layout-grid();
    padding-top: 0;
    padding-bottom: 0;

    > * {
      padding: @layout-grid-margin 0;
    }

    // left side
    > :first-child {
      grid-column: span 4;
      align-self: center;

      @media screen and (max-width: @viewport-width-tablet-landscape) {
        grid-column: span 3;
      }
    }

    // right side
    > :nth-child(2) {
      grid-column: span 8;
      border-left: @default-rule;

      @media screen and (max-width: @viewport-width-tablet-landscape) {
        grid-column: span 5;
      }
    }

    @media screen and (max-width: @viewport-width-tablet-portrait) {
      // no longer a grid at this size
      display: block;

      // make inner elements the content containers (have padding)
      padding: 0;

      > * {
        padding: @layout-grid-margin @layout-grid-gutter-tablet;
      }

      > :first-child {
        border-bottom: @default-rule;
      }

      > :nth-child(2) {
        border-left: none;
      }
    }
    @media screen and (max-width: @viewport-width-mobile) {
      > * {
        padding: @layout-grid-margin-mobile @layout-grid-gutter-mobile;
      }
    }
  }

  .collective-list {
    list-style: none;
    margin: 0;
    padding: 34px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: @layout-grid-gutter;
    row-gap: @layout-grid-margin;

    hyphens: auto;

    @media screen and (max-width: @viewport-width-tablet-landscape) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: @viewport-width-tablet-portrait) {
      padding: 0;
      padding-bottom: @layout-grid-margin;
      // back to 3 columns!
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: @viewport-width-mobile) {
      grid-template-columns: 1fr;
      column-gap: @layout-grid-gutter-mobile;
      row-gap: @layout-grid-margin-mobile;
    }
  }

  .collective-name {
    .paragraph-mid();
    font-weight: @font-weight-bold;
    .limit-lines(2);
  }

  .collective-hosted-since {
    .paragraph-small();
    font-weight: @font-weight-regular;
    margin: 8px 0;
  }

  @image-size: 72px;

  .collective-list .collective {
    display: grid;
    grid-template-columns: @image-size 1fr;
    column-gap: 16px;
  }

  .collective-image {
    width: @image-size;
    height: @image-size;
    object-fit: cover;
    align-self: start;
    border-radius: 100px;
  }

  .hide-after(@n) {
    .collective-list > li:nth-child(@{n}) ~ li {
      display: none;
    }
  }

  .hide-after(9);

  @media screen and (max-width: @viewport-width-tablet-landscape) {
    // Hide after first 6
    .hide-after(6);
  }

  @media screen and (max-width: @viewport-width-tablet-portrait) {
    // Back to 9
    .hide-after(9);
  }
  @media screen and (max-width: @viewport-width-mobile) {
    // Back to 6!
    .hide-after(6);
  }

  .show-all-button {
    display: block;
    text-align: center;
    color: @color-dark-green;
    font-weight: @font-weight-light;
    width: 100%;
  }
}
