section#services {
  .checklist-row {
    .column {
      grid-column: span 4;

      @media screen and (max-width: @viewport-width-tablet-landscape) {
        grid-column: span 2;

        &.checklist {
          grid-column: span 4;
        }
      }
    }

    @media screen and (max-width: @viewport-width-tablet-portrait) {
      .content-container {
        // remove outer content container (outer padding), and instead make each item a content container
        padding: 0;

        // disable grid
        display: block;
      }

      .column {
        // make each column a content container
        padding: @layout-grid-margin @layout-grid-gutter-tablet;

        border-right: none;
        border-bottom: @default-rule;
        display: block;

        &.checklist {
          grid-column: 1 / -1;
        }

        &:last-child {
          border-bottom: none;
        }
      }
      p {
        margin: 0;
      }
    }

    @media screen and (max-width: @viewport-width-mobile) {
      .column {
        padding: @layout-grid-margin-mobile @layout-grid-gutter-mobile;
      }
    }

    p {
      .heading-h2();
      align-self: center;
    }

    .checklist {
      .paragraph-large();

      list-style: none;
      margin: 0;
      padding: @layout-grid-margin @layout-grid-gutter;
      padding-left: 0; // there's already a grid gap

      li {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 20px;

        &::before {
          content: '';
          display: block;
          flex-shrink: 0;
          margin-right: 1em;
          width: 22px;
          height: 22px;
          background: url('/assets/images/checkmark.svg') no-repeat center
            center;
        }
      }
      @media screen and (max-width: @viewport-width-tablet-landscape) {
        padding-right: @layout-grid-gutter-tablet;
      }
      @media screen and (max-width: @viewport-width-mobile) {
        padding: @layout-grid-margin @layout-grid-gutter-mobile;
      }
    }
  }

  // How many times text is repeated in markup
  @ticker-repeats: 3;

  @keyframes ticker {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate((-100% / @ticker-repeats), 0);
    }
  }

  .ticker-wrapper {
    overflow: hidden;
    margin: 0 -@layout-grid-gutter;

    @media screen and (max-width: @viewport-width-tablet-landscape) {
      margin: 0 -@layout-grid-gutter-tablet;
    }
    @media screen and (max-width: @viewport-width-mobile) {
      margin: 0 -@layout-grid-gutter-mobile;
    }
  }

  // Hopefully someday browsers support element() then we can do the repeat effect in CSS :-(

  .ticker {
    white-space: nowrap;

    animation: ticker linear (15s * @ticker-repeats) infinite;
    &:hover {
      animation-play-state: paused;
    }
  }

  // services table is styled in partials/services-table.less
}
