@import './variables/typography.less';
@import './variables/color.less';

// Typography

body {
  font-family: @font-family-sans;
  font-weight: @font-weight-normal;
  font-size: @font-size-base;

  color: @font-color-base;
  background-color: @background-color-base;

  line-height: @line-height-base;

  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: @font-family-sans;
  font-weight: @font-weight-bold;
  font-size: @font-size-larger;
  line-height: normal;
}

h2 {
  font-family: @font-family-serif;
  font-weight: @font-weight-bold;
  font-size: @font-size-larger;
  line-height: normal;
}

h3 {
  font-family: @font-family-sans;
  font-size: @font-size-large;
  font-weight: @font-weight-bold;
  line-height: normal;
}

blockquote {
  font-family: @font-family-serif;
  font-weight: @font-weight-normal;
  font-size: @font-size-large;
  font-style: italic;
  line-height: @line-height-large;
}

a {
  color: inherit;
  text-decoration: inherit;
}
