@import './variables/typography.less';
@import './variables/rules.less';

table {
  border-collapse: collapse;

  td,
  th {
    text-align: center;
    padding: 1em;
    border: @default-rule;

    &:first-child {
      text-align: left;
      border-left: none;
      padding-left: @layout-grid-margin;
    }
    &:last-child {
      border-right: none;
      padding-right: @layout-grid-margin;
    }
  }

  th {
    border-top: none;
  }
}
