@import './variables/typography.less';
@import './variables/color.less';
@import './variables/sizing.less';
@import './variables/buttons.less';
@import './base-table.less';

// Typography

body {
  .base-typography();

  color: @font-color-base;
  background-color: @background-color-base;

  -webkit-font-smoothing: antialiased;
}

h1 {
  .heading-h1();
  color: @color-dark-green;
  margin: 0;
}

h2 {
  .heading-h2();
}

a {
  @link-color: @font-color-base;

  color: @link-color;
  text-decoration: inherit;

  &:hover {
    // border-bottom: 1px dashed @link-color;
  }
}

main {
  // .content-container();
}

p {
  margin: 1em 0;
}

a.button {
  .buttonStyledLink(@font-color-base);
}
