@import './variables/sizing.less';
@import './variables/typography.less';
@import './variables/color.less';
@import './variables/buttons.less';
@import './variables/rules.less';

@nav-height: 100px;
@nav-height-mobile: 72px;

// https://stackoverflow.com/a/28824157
// Fixes nav sitting on top of targetted element
:target::before {
  content: '';
  display: block;
  height: @nav-height;
  margin: -@nav-height 0 0;
}

.main-nav {
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: @background-color-lighter;
  border-bottom: @default-rule;
}

.main-nav .nav-container {
  position: relative;
  display: grid;
  grid-template:
    'left center right' @nav-height /
    115px 1fr 115px;
  column-gap: 152px;

  align-items: center;
  padding-top: 0;
  padding-bottom: 0;

  .logo {
    height: 40px;
    grid-area: left;
  }

  > .cta {
    .buttonStyledLink(@color-dark-green);
    grid-area: right;
  }

  .links-container {
    grid-area: center;
    background-color: @background-color-lighter;
  }

  .links-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    & > li {
      display: inline-block;
      flex-grow: 0;

      a {
        display: inline-block;
        border: @default-rule;
        border-color: transparent;
        padding: 16px;
      }

      a:hover {
        border: @default-rule;
        border-radius: 40px;
      }
    }
  }

  @media screen and (max-width: @viewport-width-tablet-landscape) {
    grid-template:
      'left right' @nav-height /
      1fr 72px;
    column-gap: 1em;

    .menu-button {
      grid-area: right;
      align-self: stretch;
      margin-right: -@layout-grid-gutter-mobile;

      .textButton();
      color: @font-color-base;
      border-left: @default-rule;
    }

    // hide unless opened
    .links-container {
      display: none;
    }

    &.show-menu .links-container {
      display: unset;
      position: absolute;
      box-sizing: border-box;
      top: calc(100% + 1px);
      width: 100%;
      padding: 28px;
      // margin-left: -@layout-grid-gutter-mobile;

      border-bottom: @default-rule;
    }

    &.show-menu .menu-button {
      font-size: 0;
      background: @color-sand url('/assets/images/dismiss-dark-green.svg')
        no-repeat center center;
    }
  }

  @media screen and (max-width: @viewport-width-tablet-portrait) {
    .links-list {
      flex-direction: column;
    }
  }
}
