@import './variables/sizing.less';
@import './variables/typography.less';
@import './variables/color.less';
@import './variables/buttons.less';
@import './variables/rules.less';

@nav-height: 100px;

// https://stackoverflow.com/a/28824157
// Fixes nav sitting on top of targetted element
:target::before {
  content: '';
  display: block;
  height: @nav-height;
  margin: -@nav-height 0 0;
}

.main-nav {
  position: sticky;
  top: 0;
  z-index: 1;
  min-height: @nav-height;

  background-color: white;
  border-bottom: @default-rule;
}

.main-nav .content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;

  .logo {
    height: 40px;
  }

  > .cta {
    .buttonStyledLink(@color-dark-green);
  }

  > .logo,
  > .cta {
    // Make them the same size for symmetry
    flex-basis: 115px;
    box-sizing: border-box;
  }

  .links-container {
    flex-grow: 1;
    padding: 0 152px;

    @media screen and (max-width: @viewport-width-tablet-landscape) {
      padding: 1em;
    }
  }

  .links-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    & > li {
      display: inline-block;
      flex-grow: 0;

      a {
        display: block;
        line-height: @nav-height;
      }
    }
  }
}
