---
title: Docs
position: 6
---

  <div class="heading-container">
    <h2>Resources and documentation</h2>
  </div>

<div class="docs-container">

  <iframe
    title="Open Collective Foundation Docs"
    class="docs-frame"
    src="https://docs.opencollective.foundation/"
    style="width: 100%; height: 100vh; border: none"
    loading="lazy"
  ></iframe>
</div>