---
title: Events
position: 4
---

<% const now = new Date() %>

<div class="outer-events-wrapper">
  <div class="content content-container">
    <div>
      <h2>Community events</h2>
      <p>Join our Community Forum on first Fridays of the month to meet the team and other Collectives in a space of mutual
      support.</p>
    </div>

    <div class="events-column">        
      <h3 class="event-section-heading">Upcoming events</h3>
      <ol class="event-list">
        <% for (const event of (events.filter(({endsAt}) => new Date(endsAt) >= now))) { %>
          <%- await include('/event', {event}) %>
        <% } %>
      </ol>

      <h3 class="event-section-heading">Past events</h3>
      <ol class="event-list">
        <% for (const event of (events.filter(({endsAt}) => new Date(endsAt) < now))) { %>
          <%- await include('/event', {event}) %>
        <% } %>
      </ol>

    <a 
      href="https://opencollective.com/foundation/events" 
      target="_blank"
      class="show-all-button">
      View all
    </a>
  </div>

  </div>
</div>

<div class="row text-row resources-for-events">
  <div class="content-container">
    <div class="column with-borders text-heading">
      <h3>Resources for Events</h3>
    </div>
    <div class="column with-borders text-copy">
      <%- markdown(await include('../editable-blocks/resources-for-events.md')) %>
    </div>
  </div>
</div>

