---
title: Get in Touch
position: 7
hideInNavigation: true
---

<div class="content-container">
  <h2>Get in Touch!</h2>
  <div class="card">
    <div>
      <h3>Sign up for our newsletter</h3>
      <form class="sign-up-form" action="/api/newsletter" method="POST">
        <label for="email" class="hidden">Email address</label>
        <input name="email" type="email" placeholder="Type your email here" required="true" />
         
        <label class="checkbox-label">
          <input name="terms" type="checkbox" required="true" />
          I have read the privacy policy and agreed that my information and data is stored and handled by this website
        </label>

        <button type="submit">Sign up</button>
      </form>
    </div>


    <div>
      <h3>Connect with us on:</h3>
      <%- include('/social-links.ejs') %>
      <p>
        Do not hesitate to reach out!
      </p>
    </div>
  </div>
</div>