---
title: Services
position: 0
---

<div class="content">
  <div class="left">
    <h1>
      OC Foundation is proud to be the financial and legal home of
      <span class="collective-name"></span> and 300 more groups
    </h1>

    <p class="subhead">
      OC Foundation offers nonprofit status + fundraising + accounting software
      to aligned groups.
    </p>

    <a
      class="cta"
      href="https://opencollective.com/foundation/apply"
      target="_blank"
      >Apply now</a
    >
  </div>

  <img class="collective-hero-image" />
</div>
<script
  src="/assets/scripts/rotateFeaturedCollectives.js"
  data-featured-collectives="<%= JSON.stringify(featuredCollectives.featuredCollectives) %>"
></script>
