---
title: Pricing
position: 2
hideInNavigation: false
---

<div class="heading-container">
  <h2>We ask for 8% of the money raised to pay our team and build technology you ask for.</h2>
</div>


<div class="pricing-graphic-row">
  <div class="pricing-graphic">
    <div class="raised">$1000 raised</div>
    <div class="net">$920 for the Collective</div>
    <div class="fee">$80 OCF services</div>
    <div class="fee-staff">$40 Staff</div><div class="fee-tech">$40 Tech</div>
  </div>
</div>

<div class="row text-row fees-row">
  <div class="content-container">
    <div class="column with-borders text-heading">
    <h3>Fees</h3>
    </div>
    <div class="column with-borders text-copy">
      <%- markdown(await include('../editable-blocks/fees.md')) %>
    </div>
  </div>
</div>
