---
title: Pricing
position: 2
hideInNavigation: false
---

<div class="pricing-graphic-row">
  <div class="pricing-graphic content-container">
    <div class="raised">$1000 raised</div>
    <div class="net">$920 for the Collective</div>
    <div class="fee">$80 OCF services</div>
    <div class="fee-staff">$40 Staff</div><div class="fee-tech">$40 Tech</div>
  </div>
</div>

<div class="row text-row fees-row">
  <div class="content-container">
    <div class="column with-borders text-heading">
    <h3>Fees</h3>
    </div>
    <div class="column with-borders text-copy">
    <p>
      * We take 5% for crowdfunding done on the site. Third-party payment
      processors (like Stripe and Paypal) charge separate fees on each transaction
      made using their service. We take 4-8% for bank transfers
      and checks: 8% for up to 500k raised; 6% for up to 1 million raised; 4% for
      over a million raised.
    </p>
    </div>
  </div>
</div>
