---
title: Services
position: 1
hideInNavigation: false
---
<div class="row checklist-row">
  <div class="content-container">
    <div class="column with-borders">
      <p>
        If your group wants to:
      </p>
    </div>

    <ul class="checklist column with-borders">
      <li>
        <div>View your entire budget in one secure place</div>
      </li>
      <li>Share your budget with your community</li>
      <li>Apply for a grant</li>
      <li>Offer tax write-offs when people donate</li>
      <li>Create mini-grants for your community</li>
      <li>Offer prepaid debit cards to your team</li>
      <li>Reimburse volunteers</li>
      <li>Use an open-source and community-led platform</li>
    </ul>

    <p class="column">
      We've got you covered!
    </p>
  </div>
</div>

<div class="row text-row">
  <div class="content-container">
    <div class="column text-heading with-borders">
      <h3>And much more!</h3>
    </div>
    <div class="column text-copy with-borders">
      <p class="text-copy">
        Virtual cards – Free courses – Grants – Collective admins – Processing payments 2x a week – Community forums –
        Tech
        owned by us – Transparency – Exit to community – Solidarity economies – Radical admin
      </p>
    </div>
  </div>
</div>

<div class="heading-container">
  <h2>Is OC Foundation right for you?</h2>
</div>

<div class="services-table-container">
  <%- markdown(include('../services-table.md')) %>
</div>

<div class="heading-container">
  <h2>We ask for 8% of the money raised to pay our team and build technology you ask for.</h2>
</div>

