---
title: Values
position: 7
hideInNavigation: false
---
<div class="row text-row values-row">
  <div class="content-container">
    <div class="column with-borders text-heading">
      <h3>Values</h3>
    </div>
    <div class="column with-borders text-copy">
      <%- markdown(await include('../editable-blocks/values.md')) %>
    </div>
  </div>
</div>
