---
title: Home
position: 0
---

<div class="section-welcome">
  <h1 class="site-title"><%= site.title %></h1>

  <div class="video-container">
    <%- include('/vimeo', {id: '527951208' }) %>
  </div>

  <div class="below-video-content">
    <div class="headings">
      <h2 class="greeting" id="greeting">Welcome</h2>
    </div>

    <a href="#report" class="download-button">Download Report</a>
  </div>
</div>
