@font-color-base: #141415;
@background-color-lighter: #ffffff;
@background-color-base: #ebfdfe66;
@color-dark-400: #c3c6cb;

@color-dark-green: #044f54;
@color-red: #ff3d22;
@color-pumpkin: #ffa101;
@color-sand: #fec627;
