@content-width: 1280px;

@mobile-width: 768px;

@layout-grid-columns: 12;
@layout-grid-gutter: 48px;
@layout-grid-margin: 40px;

@border-radius: 16px;

html {
  // Due to issue with full-bleed
  overflow-x: hidden;
}

.layout-grid() {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: @layout-grid-gutter;
}

.content-container() {
  max-width: @content-width;
  margin: auto;
  padding: 0 @layout-grid-gutter;
  margin: @layout-grid-margin auto;
  box-sizing: border-box;

  img {
    max-width: 100%;
  }
}

// bust out of content-container
// https://css-tricks.com/full-bleed/
.full-bleed() {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
