@font-family-sans: 'Barlow', sans-serif;

@font-weight-light: 500;
@font-weight-regular: 600;
@font-weight-bold: 700;

@font-size-base: 18px;
@font-size-h1: 52px;
@font-size-h2: 40px;
@font-size-h3: 34px;
@font-size-subheading: 32px;
@font-size-paragraph-large: 24px;
@font-size-paragraph-mid: 18px;
@font-size-paragraph-small: 16px;

@line-height-base: 26px;
@line-height-h1: 60px;
@line-height-h2: 54px;
@line-height-h3: 43px;
@line-height-subheading: 40px;
@line-height-paragraph-large: 34px;
@line-height-paragraph-mid: 26px;
@line-height-paragraph-small: 24px;

@letter-spacing-base: normal;
@letter-spacing-paragraph-small: 1px;
