---
title: People
position: 9
hideInNavigation: false
---

<% const URL_SUMMARY = /^https?:\/\/(?:www.)?([^\/]+)(.*)/; const summarizeUrl =
(url) => { const matchResult = url.match(URL_SUMMARY); return matchResult ?
matchResult[1] : url; }; %>

<div class="section-people">
  <h2>
    This report was created by Nati Linares and Caroline Woolard for Grantmakers
    in the Arts and draws upon interviews and conversations with the following
    people
  </h2>

  <ul class="people">
    <% people.people.forEach(person => { %>
    <li>
      <div class="name"><%= person.name %></div>
      <div class="title"><%= person.personTitle %></div>
      <div class="link">
        <a href="<%- person.url %>" target="_blank" rel="noopener noreferrer"
          ><%= summarizeUrl(person.url) %></a
        >
      </div>
      <% }) %>
    </li>
  </ul>
</div>
