---
layout: default
title: Compensation Calculator
---

<%- await include('/nav', { collectionName: 'home', extraNavLinks: [], prefix: '/' }) %>

<main id="compensation" class="content-container">
  <iframe id="compensation-frame" src="/compensation-frame" style="width: 1px; min-width: 100%; border: none;">
  </iframe>
</main>

<script src="https://www.unpkg.com/iframe-resizer@4.3.2/js/iframeResizer.min.js"></script>
<script>
  iFrameResize({ log: true }, "#compensation-frame");
</script>

<%- await include('/footer') %>