---
title: Coming soon
layout: default
permalink: false
---

<script>
  function datediff(first, second) {
    // Take the difference between the dates and divide by milliseconds per day.
    // Round to nearest whole number to deal with DST.
    return Math.round((second - first) / (1000 * 60 * 60 * 24));
  }

  const LIVE_DATE = new Date(Date.UTC(2021, 2, 24, 8 + 5));
</script>

<main class="page-countdown">
  <div class="container">
    <h1 id="headline" style="visibility: hidden">
      Solidarity not Charity goes live <span id="num-days"></span>
    </h1>
    <noscript>
      <h1>Solidarity not Charity is not yet live</h1>
    </noscript>

    <a href="/email-signup" class="button">Sign up for the mailing list</a>

    <script>
      document.getElementById('headline').style.visibility = null;
      function updateCountdown() {
        const now = new Date();
        if (now > LIVE_DATE) {
          // Go to home page
          window.location.replace('/home');
        }
        const days = datediff(now, LIVE_DATE);
        let text;
        if (days === 0) {
          text = 'today';
        } else {
          text = 'in ' + days + ' ' + (days === 1 ? 'day' : 'days');
        }
        document.getElementById('num-days').innerText = text;
      }
      updateCountdown();

      setInterval(updateCountdown, 1000);
    </script>
  </div>
</main>
