---
layout: default
permalink: home/
---

<%- include('/nav') %>

<main>
  <% collections.section.forEach((section) => { %>
  <section id="<%- section.fileSlug %>"><%- section.templateContent %></section>
  <% }) %>
</main>
