---
title: Add yourself to the list of examples
layout: default
---

<main>
  <h1>Your submission was received</h1>

  <a href="/#concepts"
    >Thank you! Nati Linares and Caroline Woolard are doing this work beyond the
    scope of our contract with Grantmakers in the Arts because we believe in the
    power of participatory research. We welcome your patience and your support
    as we incorporate your feedback.</a
  >
</main>
