---
title: Fridays
hideInNavigation: false
position: 3
---

<div class="section-fridays">
  <p class="intro">
    We will gather for 1 hour for a <strong>Public Talk + Experience</strong> on
    Fridays from 12-1pm EST and then the Study-into-Action cohort<a
      href="#fridays-cohort-note"
      ><sup>*</sup></a
    >
    continues into facilitated break-out groups 1-2pm EST.
  </p>

  <%- include('/fridays') %>
</div>
