---
title: Live
hideInNavigation: false
position: 2
---

<div class="section-live">
  <div class="video-container">
    <iframe src="https://vimeo.com/event/1109941/embed"
      width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>


  <div class="chat-container">
    <iframe
      src="https://vimeo.com/event/1109941/chat/"
      width="100%"
      height="100%"
      frameborder="0"
    ></iframe>
  </div>

  <div id="caption-container" class="caption-container" style="display: none">
    <iframe style="width:100%; height:420px; border:0;"></iframe>
  </div>

  <% 
  const studyEventSummaries = collections.studyEvents.map(event => ({
    start: event.data.date,
    end: event.data.endDate, 
    captionEmbedUrl: event.data.captionEmbedUrl
  }));
   %> 

  <script data-events='<%= JSON.stringify(studyEventSummaries) %>'>
    const studyEvents = JSON.parse(document.currentScript.getAttribute('data-events'));

    console.log(studyEvents);
    
    const now = new Date();
    // 6 hour buffer
    const buffer = 1000 * 60 * 60 * 6;

    // Find event on now with captions
    const activeEvent = studyEvents.find(summary => {
      const start = new Date(new Date(summary.start) - buffer);
      const end = new Date(new Date(summary.end) + buffer);
      const captionEmbedUrl = summary.captionEmbedUrl;
      return !!captionEmbedUrl && now > start && now < end;
    });

    if (activeEvent) {
      const container = document.getElementById('caption-container');
      container.style.display = '';
      container.querySelector('iframe').setAttribute('src', activeEvent.captionEmbedUrl);
    }
  </script>

</div>
