---
title: Live
hideInNavigation: false
position: 2
---

<div class="section-live">
  <div class="video-container">
    <%- include('/vimeo', {id: '589935467' }) %>
  </div>

  <div class="chat-container">
    <iframe
      src="https://vimeo.com/event/1109941/chat/"
      width="100%"
      height="100%"
      frameborder="0"
    ></iframe>
  </div>
</div>
